Django==1.6.1
Fabric==1.8.1
South==0.8.4
boto==2.23.0
distribute==0.6.31
dj-database-url==0.2.2
dj-static==0.0.5
django-s3-folder-storage==0.2
django-storages==1.1.8
django-tastypie==0.11.0
django-toolbelt==0.0.1
ecdsa==0.10
gunicorn==18.0
paramiko==1.12.1
psycopg2==2.5.2
pycrypto==2.6.1
python-dateutil==2.2
python-mimeparse==0.1.4
six==1.5.2
static==0.4
wsgiref==0.1.2
