<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=0.8">{% load staticfiles %}

<script type="text/javascript" src="//use.typekit.net/oje0kol.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  
<link rel='stylesheet' href="{% static "css/normalize.css" %}">
<link rel='stylesheet' href="{% static "css/style.css" %}">

<link rel="shortcut icon" href="{% static "favicon.ico" %}">

<title>Paletto</title>

</head>
<body>

  <h1>404 error. Page not found. Sorry!</h1>

</body>
</html>